@page "/Companies"
@using System.Net.Http.Json;
@using WarehouseModels

@inject HttpClient http

<h3>Companies</h3>

@if(CompanyList == null) 
{
	<p>Loading...</p>
}
else 
{
	<table class="table">
		<thead>
			<tr>
				<th>Company Name</th>
				<th>Address</th>
				<th>City</th>
				<th>State</th>
				<th>Postal Code</th>
			</tr>
		</thead>
		<tbody>
			@foreach(var company in CompanyList) 
			{
				<tr>
					<td>@company.CompanyName</td>
					<td>@company.Address</td>
					<td>@company.City</td>
					<td>@company.State</td>
					<td>@company.PostalCode</td>
					<td>
						<a href="@($"CompanyEdit/{company.CompanyId}")">Edit</a> |
						<a href="@($"CompanyDetails/{company.CompanyId}")">Details</a>
						<a onclick="@( () => DeleteCompany(company.CompanyId))" @onclick::preventDefault="true" href="">Delete</a>
					</td>
				</tr>	
			}
		</tbody>
	</table>	
}

@code {
	public List<CompanyViewModel>? CompanyList { get; set; } = new List<CompanyViewModel>();

	private async void DeleteCompany(int CompanyId) 
	{
		var result = await http.DeleteAsync($"api/managers/{CompanyId}");
		CompanyList = await http.GetFromJsonAsync<List<CompanyViewModel>>("api/Companies");
		StateHasChanged();
	}

	protected override async Task OnInitializedAsync() 
	{
		CompanyList = await http.GetFromJsonAsync<List<CompanyViewModel>>("api/Companies");
	}
}
